<h1>Welcome to the account managament page</h1>
<ng-container *ngIf="authFacade.user$ | async as user">
  <h2 *ngIf="!user.token">You do not seem to be logged in, would you like to <a nbButton status="primary" size="giant"
      routerLink="/auth/signIn"> Sign in</a> or <a nbButton status="primary" size="giant" routerLink="/auth/signUp">
      Sign Up</a></h2>
  <h2 *ngIf="user.token"> Would you like to <a nbButton status="primary" size="giant" routerLink="/auth/edit"> Edit
      Profile</a> or <button (click)="authFacade.logOut" nbButton status="primary" size="giant">Log Out</button> </h2>
</ng-container>
