:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
}

.log-in-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #e5e5e5;
  padding: 25px;
  width: 320px;
  height: 520px;
}

