
<form (ngSubmit)="handleBoardCreation()" [formGroup]="boardForm" class="board-form">
  <div class="input-grp">
    <label class="block-label" htmlFor="title"> Title </label>
    <nb-form-field>
      <input nbInput id="title" placeholder="Title" type="text" formControlName="title">
      <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
    </nb-form-field>
    <ng-container *ngIf="
          boardForm.get('title')!.touched &&
          boardForm.get('title')!.invalid
        ">
      <app-error-logger *ngIf="boardForm.get('title')!.errors" [error]="getErrorMsg( boardForm.get('title')!.errors, {
            required: 'Please enter a title'
          })">
      </app-error-logger>
    </ng-container>
  </div>
  <div class="input-grp">
    <label class="block-label" htmlFor="description"> Description </label>
    <nb-form-field>
      <input nbInput id="login" placeholder="Description" type="text" formControlName="description">
      <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
    </nb-form-field>
    <ng-container *ngIf="
          boardForm.get('description')!.touched &&
          boardForm.get('description')!.invalid
        ">
    </ng-container>
  </div>
  <div class="form-buttons">
    <!--<button nbButton status="primary" [disabled]="!boardForm.valid" type="submit" (click)="handleSignUp()">
      Sign-Up
    </button>
    <a href="auth/signIn" nbButton status="primary" [disabled]="!boardForm.valid"> Sign-in</a>-->
  </div>
</form>
